[Unit]

Description=Copy EFISTUB Kernel to UEFISYS Partition





[Service]

Type=oneshot

ExecStart=/usr/bin/cp -f /boot/vmlinuz-linux-zen /esp/vmlinuz-linux-zen

ExecStart=/usr/bin/cp -f /boot/initramfs-linux-zen.img /esp/initramfs-linux-zen.img

ExecStart=/usr/bin/cp -f /boot/initramfs-linux-zen-fallback.img /esp/initramfs-linux-zen-fallback.img
